<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nexus</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/nexus_logo_4x.jpg">
  </head>
  <body>

    <!-- <a href="/logout"><button type="button" id="btn">Click Me!</button></a> -->

    <!-- <form method="post" enctype="multipart/form-data"> -->
    <!--   <label for="file_upload">Select a file to upload</label> -->
    <!--   <input type="file" name="uploaded_file" id="file-upload"><br> -->
    <!--   <button type="submit" id="upload-btn">Upload</button> -->
    <!-- </form> -->
  </body>
  <script src="../static/js/testing.js"></script>
</html>
