<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="../static/css/form.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/nexus_logo_4x.jpg">
  </head>
  <body>
    <img src="../static/images/nexus_logo_4x.jpg" alt="Logo Image" width="350px" height="300px">
    <form class="login-form" method="post">
      <label>Username</label>
      <input type="text" name="username" id="user-field"><br>

      <label>Password</label>
      <input type="password" name="password" id="pass-field"><br>
      <input type="submit" value="Submit" id="submit-btn">
    </form>
  </body>
  <script src="../static/js/app.js" defer></script>
</html>
